html,body{
    background-color: blanchedalmond;
    color:palevioletred;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

#div1{
    margin-top: 60px;
    font-size: 45px;
}
div{ 
    border-radius: 5px;
    padding:20px;
    margin-top: 40px;
    text-align: center;
}
#date{
    font-size: 50px;
}
